{% extends "base.html.twig" %}
{% block body %}
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="#">Home</a> / Agents</span>
    <h2>Agents</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer agents">

 <!-- agents -->
 <div class="row">
<div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{asset('assets')}}/images/agents/1.jpg" class="img-responsive" alt="agent name"></a></div>
<div class="col-lg-6 col-sm-6 "><h4>John Smith</h4><p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p></div>
<div class="col-lg-4 col-sm-4 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:abc@realestate.com">abc@realestete.com</a><br>
<span class="glyphicon glyphicon-earphone"></span> (9009) 899 889 <br>
<a href="mailto:abc@realestate.com"><button class="btn btn-success">prendre rendez-vous</button></a>
</div>
</div>
<!-- agents -->
 <!-- agents -->
 <div class="row">
<div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{asset('assets')}}/images/agents/2.jpg" class="img-responsive" alt="agent name"></a></div>
<div class="col-lg-6 col-sm-6 "><h4>John Smith</h4><p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p></div>
<div class="col-lg-4 col-sm-4 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:abc@realestate.com">abc@realestete.com</a><br>
<span class="glyphicon glyphicon-earphone"></span> (9009) 899 889 <br>
<a href="mailto:abc@realestate.com"><button class="btn btn-success">prendre rendez-vous</button></a>
</div>
</div>
<!-- agents -->
 <!-- agents -->
 <div class="row">
<div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{asset('assets')}}/images/agents/3.jpg" class="img-responsive" alt="agent name"></a></div>
<div class="col-lg-6 col-sm-6 "><h4>John Smith</h4><p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p></div>
<div class="col-lg-4 col-sm-4 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:abc@realestate.com">abc@realestete.com</a><br>
<span class="glyphicon glyphicon-earphone"></span> (9009) 899 889 <br>
<a href="mailto:abc@realestate.com"><button class="btn btn-success">prendre rendez-vous</button></a>
</div>
</div>
<!-- agents -->
 <!-- agents -->
 <div class="row">
<div class="col-lg-2 col-sm-2 "><a href="#"><img src="{{asset('assets')}}/images/agents/4.jpg" class="img-responsive" alt="agent name"></a></div>
<div class="col-lg-6 col-sm-6 "><h4>John Smith</h4><p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p></div>
<div class="col-lg-4 col-sm-4 "><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:abc@realestate.com">abc@realestete.com</a><br>
<span class="glyphicon glyphicon-earphone"></span> (9009) 899 889 <br>
<a href="mailto:abc@realestate.com"><button class="btn btn-success">prendre rendez-vous</button></a>
</div>
</div>
<!-- agents -->

</div>
</div>

{% endblock %}