{% extends "base.html.twig" %}
{% block body %}
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="#">Accueil</a> / Agents</span>
    <h2>Agents</h2>
</div>
</div>


<div class="container">
 
    <div class="col-md-12 m-5">
      {% include 'agents/agent.html.twig' %}
    </div>
 
</div>



</div>
</div>







{% endblock %}