{% extends 'base.html.twig' %}

{% block title 'Creer les biens' %}

{% block body %}
  
<div class="container mt-4">
<h1>Créer un nouveau biens</h1>
  {{ include("admin/property/_form.html.twig", {button:'Créer'})}}
   





{% endblock %}
