{% extends "base.html.twig" %}
   
{% block title 'tous nos bien' %}

{# {% endblock %} #}

{% block body %}
   <div class="container m-4">
<h1>Voir tous nos biens</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In beatae laboriosam nobis laborum officiis, rerum earum illum error sunt iusto recusandae amet quae! Quod quo expedita provident quae nesciunt alias eos ad explicabo, quam delectus eum corrupti repudiandae modi dolores commodi placeat consequuntur perspiciatis amet. Nisi a quod architecto fuga dolores iure ipsam optio voluptatem odit! Aliquam voluptas et voluptates iste aperiam veniam expedita nostrum officiis eius sunt. Quibusdam nisi, quasi architecto labore hic facilis odio praesentium quos rem dolorem reiciendis dolores ad excepturi sequi quis corrupti sint, veniam aspernatur ipsum in laudantium nihil voluptatem voluptatibus? Odio temporibus qui voluptates!</p>
</div>
{% endblock %}
